meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
script
  | window.dataLayer = window.dataLayer || [];
  | function gtag(){dataLayer.push(arguments);}
  | gtag('js', new Date());
  | gtag('config', 'UA-42985946-9');
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-42985946-9")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="css/style.css", rel="stylesheet", type="text/css")
link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
link(rel="shortcut-icon", type="image/x-icon", href="/favicon.ico")
