.wrapper
  #nav
    a(href="/") Home
    |  | 
    a(href="/resources") Resources
    |  | 
    a(href="/hiring") Hiring
    |  | 
    a(href="/data-fest-2019") Data Fest 2019
    |  | 
    a(target="_blank", href="https://medium.com/kaggle-nyc") Blog
    |  | 
    a(target="_blank", href="https://www.linkedin.com/groups/12130274") LinkedIn Group
    |  | 
    a(target="_blank", href="https://www.facebook.com/groups/kagglenyc/") Facebook Group
