doctype html
html
  head
    include _head_common.pug
    <!-- title #{__('TITLE', community)} -->
    title Kaggle NYC | Data Fest 2019
  body
    include _nav.pug
    .wrapper
      .main
        h1 Data Fest 2019
        p Data Fest is coming to NYC! Get ready for a weekend full of data analysis, curated by New York tech companies and University professors. If you'd like to be involved as a sponsor or judge please chat with us in slack.
