doctype html
html
  head
    include _head_common.pug
    title #{__('TITLE', community)}
  body
    include _nav.pug
    .wrapper
      .main
        .header
          h1= message
          h2= error.status
          pre #{error.stack}
