/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

/* Colors
 * dark red B21212
 * yellow FFFC19
 * red FF0000
 * light blue 1485CC
 * blue 0971B2
 */

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  color: #333;
}

.wrapper {
  max-width: 100%;
  width: 940px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
}

.main {
  max-width: 550px;
  margin: 0 auto;
  font-weight: 600;
}
.main.datafest {
  max-width: 600px;
}
.main.datafest p {
  padding-top: 10px;
}

.header, .content, .bottom, .sep2 {
  width: 100%;
}

.content {
  font-size: 16px;
  padding-bottom: 1em;
}
.content p {
  padding: 0.5em 5px;
}
@media (min-width: 350px) {
  .content p {
    padding: 0.5em 1em;
  }
}

h1 {
  font-family: monospace;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  padding: 1em 0;
}
h1.hiring {
  text-align: left;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

h2#cta {
  font-size: 32px;
  font-style: italic;
  padding-bottom: 15px;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

.information {
  width: 480px;
  margin: 0 auto 3em auto;
}

.information p, .information i {
  display: block;
  padding: 0 1em;
}

.form {
  position: relative;
  width: 478px;
}

.field {
  width: 448px;
  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
  border: 1px solid #333;
  font-style: italic;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 15px;
  outline: none;
}
.field:focus {
  border: 1px solid #000;
  padding: 14px;
}

@media only screen and (max-width: 480px)  {
 .information{
    width: 100%;
 }

 .form {
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
 }

 .field {
   width: 90%;
 }
}

.submit {
  position: absolute;
  right: 15px;
  top: 13px;
  padding: 3px 10px;
  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
  background: #fff;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.submit:hover {
  background: #eeeeee;
}

.error {
  color: #FE7070;
  font-weight: 700;
  font-size: 25px;
}

a {
  color: #92BCF2;
  font-weight: 700;
}

a:visited,
a:hover {
  color: #1485CC;
}

.g-recaptcha, .g-recaptcha > div {
  margin: auto;
}

#headline {
  text-align: center;
  padding-bottom: 10px;
}

.grid {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 400px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid > div {
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.grid img {
  max-width: 100%;
  max-height: 220px;
}
.resources h2 {
  text-align: left;
  font-size: 30px;
}

#nav {
  padding: 5px;
}

form#contact-form {
  display: grid;
}
form#contact-form label {
  padding: 0 5px;
}
form button {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #eee;
  border-radius: 10px;
  border: 2px solid #59226b;
  color: #59226b;
  padding: 0.6em;
  text-decoration: none;
  transition-duration: 0.4s;
}
